* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {    
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 15px;  
}   
    header{
        height: 60px;
        background-color: #d9dee2;
        font-size: 15px;        
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;          
    } 
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    @media screen and (max-width:850px) {
        h1{
            font-size: 1.3rem;       
        }
    }
    @media screen and (max-width:400px) {
        .title{
        display: flex;
        justify-content: center;
        font-size: 1rem;       
        }
    }
    .rendimento{
        display: flex;
        justify-content: space-between;
    }
    p{
        font-size: 12px;;
        margin-top: 25px;
        margin-bottom: 6px;        
    }
    img{
        height: 17px;
        margin-top: 25px;        
    }
    hr{
        width: 80%;
    }
    .containerPage{
        padding: 15px;
        display: flex;
        justify-content: center;   
        height: 100%;
        background-color: #d9dee2;
    } 
@media screen and (max-width:850px) {
    .containerPage{
        display: flex;
        flex-direction: column;
        align-items: center;               
    }
}
@media screen and (max-width:850px) {
    .caixaTexto{
        font-size: .5rem;       
    }
}
.telasIniciais {
    margin: 10px;
    display: flex;
    overflow: auto;
} 
@media screen and (max-width:450px) {     /*yt78yuiyuiyuiyuiyhui */
    .telasIniciais{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;               
    }
}
    .simulaTela{
        margin: 0px 10px 0px 0px;    
        overflow: auto;
        overflow-x: hidden;   
    }
    @media screen and (max-width:450px) {  /*yt78yuiyuiyuiyuiyhui */
        .simulaTela{
            width: 100%;
            margin: 0; 
        }
    }       
    .simular{
        margin: 0px 0px 0px 10px;        
        overflow: auto;
        overflow-x: hidden;       
    }
    @media screen and (max-width:450px) {    /*yt78yuiyuiyuiyuiyhui */
        .simular{
            width: 100%;
            margin: 0;              
        }
    }
    #resultado{
        visibility:hidden;
        margin-left: 4vw;      
        width: 58%;
        overflow: auto;
        overflow-x: hidden;
    }
    @media screen and (max-width:850px) {
        #resultado{
            width: 360px;
            margin-left: 0;             
        }
    }    
    input{  
        margin-top: 15px;
        border: none;
        outline:none;
        background-color:  transparent;
    }
    input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;

}        
    #btn01{  
        font-size: .8rem;
        background-color: #FF8631; 
        float: left;
        border: none;     
        border: 1px solid black;
        border-radius: 5px 0px 0px 5px;
        width: 85px;
        height: 35px;
        color: #fff;
    }
    #btn02{
        font-size: .8rem;              
            border: 1px solid black;
            border-radius: 0px 5px 5px 0px;
            width: 85px;
            height: 35px;            
    }
.limpar{
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid rgb(10, 1, 1);
    width: 100%;
    height: 35px;
    font-weight: bold;
}
#btnSimular{
    background-color: rgb(143, 138, 138);
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 35px;
    font-weight: bold;
}
.btns{
    display: flex;
    width: 100%;
}
#btn03{
    font-size: .8rem;
    color: #fff;
    background-color: #FF8631; 
    float: left;
    border: none;     
    border: 1px solid black;
    border-radius: 5px 0px 0px 5px;
    width: 100%;
    height: 35px;
}
#btn04{
    font-size: .8rem;
    float: left;
    border: none;     
    border: 1px solid black;
    width: 100%;
    height: 35px;
}
#btn05{
    font-size: .8rem;
    float: left;
    border: none;     
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    height: 35px;
}
@media screen and (max-width:500px) {
    .boxGeral{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:400px) {
    .boxGeral{
        display: flex;
        flex-direction: column;
    }
}

.superior{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}
@media screen and (max-width:500px) {
    .superior{
        display: flex;
        flex-direction: column;
        margin-top: 0;

    }
}
.inferior{
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}@media screen and (max-width:500px) {
    .inferior{
        display: flex;
        flex-direction: column;
        margin-top: 0;

    }
}
.box{
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgb(146, 143, 150);
    width: 190px;
    height:70px;;
}
.caixaTexto{
    margin-top: 4px;
}
@media screen and (max-width:850px) {
    .caixaTexto{
        font-size: .5rem;       
    }
}
#msgAviso{
    visibility: hidden;
    color: red;
    margin-top: 1px;
}

#ipcaTitle{
    margin-top: 10px;
}

#ir, #finalBr, #valorPago, #totalInv  {
    display: flex;
    justify-content: center;
}
#finalLi, #ganhoLiq {
    display: flex;
    justify-content: center;
    color: rgb(9, 119, 37);
}
#finalBruto, #aliquotaIr, #valorPago, #finalLiquido, #totalInvestido, #ganhoLiquido{
    margin-top: 10px;
    width: 100px;
    height: 20px;
}
.projecao{
    display: flex;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;    
}
@media screen and (max-width:500px) {
    .projecao{
        display: none;       
    }
}
.boxGrafico{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
@media screen and (max-width:500px) {
    .boxGrafico{
        display: none;       
    }
}
.grafico{
    width: 100%;
    height: 130px;
    border-radius: 5px;
}
.valor{
    margin-left: 0;
    margin-bottom: 40px;
    font-size: 12px;
    width: 6%;
    height: 30px;
    display: flex;    
    transform: rotate(270deg) ;
}
#setaBruto{
    position: absolute;
    margin-top: 21px;
    margin-left: 8px;
    color: #fff;
}
#setaLiquido{
    position: absolute;
    margin-top: 21px;
    margin-left: 90px;
    color: transparent;
}
#setaPre{
    position: absolute;
    margin-top: 21px;
    margin-left: 3px;
    color: #fff;
}
#setaPos{
    position: absolute;
    margin-top: 21px;
    margin-left: 57px;
    color: transparent;
}
.base_graf_Em_Busca{
    display: flex;
    width: 100%;
}
.graf1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: flex-end;
    font-size: 13px;
}
.graficos{    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px; 
}

#colum1, #colum2, #colum3, #colum4,#colum5, #colum6,#colum7, #colum8,#colum9, #colum10,#colum11, #colum12,#colum13, #colum14,#colum15, #colum16,#colum17  {   
    background-color:#FF8631;
    width: 27px;
    height: 80px;
    transition: height .5s;
    align-self: flex-end; 
}